/* @import './base.css'; */
@import url('https://fonts.googleapis.com/css2?family=Product+Sans&display=swap');
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


body {
  background-color: #f3f4f6;
  overflow: hidden;
  /* padding-bottom: 30px; */
  font-family: 'Product Sans', 'Helvetica Neue', Arial, sans-serif;
}
body::-webkit-scrollbar{
  display: none;
}